* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
  background: #eee;
  padding: 0 16px;
  height: 100vh;
  width: 100vw;

}

#root {
  width: 100%;
  height: 100vh;
}

.page__content {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "ContentArea"
    "notes"
    "footer"
  ;
  grid-template-rows: auto auto 1fr auto;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  grid-area: header;
  width: max(100vw, 100%);
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  grid-area: footer;
  text-align: center;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #f5ba13;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: auto;
  height: 300px;
  overflow-y: scroll;
  margin: 16px;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

}

.notes__container {
  grid-area: notes;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  justify-self: flex-end;
}

form.create-note {
  position: relative;
  width: min(480px, 95%);
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  grid-area: ContentArea;
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #f5ba13;
  border-radius: 2px;
}


::-webkit-scrollbar-thumb:hover {
  background: grey;
}